@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgMain: #ededed;
  --textMain: #1f2022;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgMain: #1f2022;
    --bgSub: #141516;
    --bgMid: #303438;
    --bgField: #1c1d1f;
    --textMain: #ededed;
    --accentMain: #bb5418;
  }
}

body {
  color: var(--textMain);
  background: var(--bgMain);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input, textarea, select {
  outline: none;
}